nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.125rem;
    text-transform: capitalize;
}

.logo {
    margin-right: 2rem;
    height: 1rem;
}

ul {
    display: none;
    position: absolute;
    top: 5rem;
    right: 1rem;
    flex-direction: column;
    align-items: flex-end;

    padding: 1rem;
    background: var(--color-footer);
    border-radius: .25rem;
    box-shadow: 0 0 .25rem rgba(0,0,0,0.2);
}

li {
    list-style-type: none;
    padding: .25rem;
}
li:nth-last-of-type(2) {
    padding-top: 1rem;
}

svg {
    position: relative;
    cursor: pointer;
}

.show-mobile {
    display: flex;
}

@media screen and (min-width: 550px) {
    nav {
        padding: 2rem 4rem;
    }
    ul {
        right: 3rem;
    }
}

@media screen and (min-width: 700px) {

}

@media screen and (min-width: 1020px) {
    nav {
        padding: 2rem 6rem;
    }

    ul {
        flex: 1;
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        background: none;
        padding: 0;
    }

    li {
        padding: 0;
    }
    li:nth-last-of-type(2) {
        padding-top: 0;
    }

    svg {
        display: none;
    }
}
