h1, h2, h3, h4, h5 {
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 700;
  padding-bottom: 1rem;
}

h1, h2 {
  font-size: 2rem;
  text-transform: capitalize;
}

h3 {
  font-size: 1.25rem;
}

h5 {
  font-weight: 800;
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 2rem;
}

.section__margin {
  /* TODO delete? */
  /*margin: 2rem;*/
}

.btn {
  background: var(--color-bg-button);
  border-style: none;
  border-radius: .25rem;
  color: #fff;
  padding: .5rem 1rem;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1.125rem;
  cursor: pointer;
}

@media screen and (min-width: 550px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (min-width: 1020px) {
  h1 {
    font-size: 3rem;
  }

  .section__padding {
    padding: 4rem 6rem;
  }

  .section__margin {
    margin: 4rem 6rem;
  }

  .btn {
    padding: .6rem 1.5rem;
  }
}
