.gradient__bg {
  background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 2rem;
}

.section__margin {
  margin: 2rem;
}

.btn {
  background: var(--color-bg-button);
  border-style: none;
  border-radius: .25rem;
  color: #fff;
  padding: .5rem 1rem;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1.125rem;
  cursor: pointer;
}

@media screen and (min-width: 550px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (min-width: 1020px) {
  .section__padding {
    padding: 4rem 6rem;
  }

  .section__margin {
    margin: 4rem 6rem;
  }

  .btn {
    padding: .6rem 1.5rem;
  }
}
